{:deps
 {org.clojure/clojure         {:mvn/version "1.11.1"}
  io.github.humbleui/humbleui {:git/sha "67ce4e0e928f7d61a883266b0686379284cfa319"}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                     org.clojure/tools.namespace {:mvn/version "1.3.0"}}
        :jvm-opts ["-ea"]}}}
 